.search {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #eaeaea;
    font-weight: 500;
    padding: 8px 16px;
    margin-left: 1.5em;
    width: 70%;
}

.search, .search::placeholder {
    color: #444444;
}

@media screen and (max-width: 600px) {
    .search {
        margin-left: 0;
    }
}