.search {
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    background-color: #eaeaea;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 2em;
}

.search, .search::placeholder {
    color: #444444;
}