.menu {
  display: flex;
  align-items: center;
  img {
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
  }
  p {
    margin: 0;
  }
  &__item {
    margin: 0 20px;
  }
  &__item:hover {
    font-weight: 700;
    color: $dark-color;
    border-bottom: 2px solid $primary-color;
  }
}
