.blogpost__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogpost__author {
  display: flex;
  align-items: center;
  margin: 0 0 1em 0;
}
.blogpost__author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0;
  
}
.blogpost__author h2 {
  padding: 0;
  font-size: 16px;
  margin: 0 0 0 .5em
}
.blogpost__author a {
  text-decoration: none;
  box-shadow: none;
}
.blogpost__author p, h2 {
  padding: 0;
  font-size: 16px;
  margin: 0 0 0 .5em

}
@media (max-width: 600px) {
  .blogpost__author {
    flex-direction: column;
    align-items: flex-start;
  }
  .blogpost__author img {
    margin-bottom: .3em;
    margin-left: .7em;
  }
}
